target/
fuzz/
gopt/
notes/
ooura/
.nuxt/
node_modules/
.pnpm-store/
.output/
src/dev-dist

dist
dist-cli/
*.c
*.d
*.h
*.o
*.jpg
*.png
!assets/*.png
!src/public/*.png
perf.*
*.svg
.eslintcache
sw.*

jpeg2png