target/
fuzz/
gopt/
notes/
ooura/
.nuxt/
node_modules/
.pnpm-store/
.output/
src/dev-dist
releases/

dist
*.c
*.d
*.h
*.o
*.jpg
*.png
!assets/*.png
!src/public/*.png
assets/sample*
perf.*
*.svg
.eslintcache
sw.*

jpeg2png
frontend/src/dev-dist/